.carousel {
    height: 100vh;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
    opacity: 0;
    display: none;
}

.right.carousel-control,
.left.carousel-control {
    display: none;
}

.d-block {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    opacity: 0.85;
}

.loginButtonsContainer {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
    transition: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.errorMessage {
    font-size: 0.9em;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.transitionBackground {
    width: 100vw;
    background: black;
    opacity: 0.5;
    z-index: 2;
    position: absolute;
    bottom: 0%;
}

.loginFormContainer {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transition {
    width: 30vw;
    height: 50vh;
    background: #f8f5f5;
    border-radius: 10px;
    z-index: 3;
    position: absolute;
    bottom: 25vh;
    left: 50%;
    transform: translate(-50%);
    overflow-y: hidden;
    transition: height 1s, bottom 1.8s;

    .hidden {
        display: none;
    }
}

.inputFields {
    display: flex;
    flex-direction: column;
    width: 35vw;
    max-width: 300px;
    border-radius: 8px;

    input {
        font-size: 12pt;
        height: 35px;
        padding: 0 8px;
    }
}

.btn-info {
  border-radius: 1px;
}

@media screen and (min-width: 1281px) {
    .loginLogo {
        width: 54vh;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }

    .loginButton {
        margin: 8px;
        font-size: 18px;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 10px 14px;
        width: 12vw;
    }
}

@media screen and (max-width: 1280px) {
    .loginLogo {
        width: 54vh;
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }

    .loginButton {
        margin: 3px;
        font-size: 15px;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 5px 14px;
        width: 12vw;
    }

    .transition {
        width: 40vw;
        height: 60vh;
        background: #f8f5f5;
        border-radius: 10px;
        z-index: 3;
        position: absolute;
        bottom: 20vh;
        left: 50%;
        transform: translate(-50%);
        overflow-y: hidden;
        transition: height 1s, bottom 1.8s;

        .hidden {
            display: none;
        }
    }
}

@media screen and (max-width: 780px) {
    .loginButton {
        width: 20vw;
    }
}

@media screen and (max-width: 755px) {
    .loginLogo {
        width: 40vh;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
    }

    .loginButton {
        margin: 3px;
        font-size: 14px;
        line-height: 1.2;
        text-transform: uppercase;
        padding: 5px 5px;
        width: 25vw;
    }

    .transition {
        width: 75vw;
        height: 50vh;
        background: #f8f5f5;
        border-radius: 10px;
        z-index: 3;
        position: absolute;
        bottom: 25vh;
        left: 50%;
        transform: translate(-50%);
        overflow-y: hidden;
        transition: height 1s, bottom 1.8s;

        .hidden {
            display: none;
        }
    }
    
    // @media screen and (min-height: 300px) {
    //     .loginLogo {
    //         width: 54vh;
    //         position: absolute;
    //         top: 25%;
    //         left: 50%;
    //         transform: translate(-50%);
    //         z-index: 2;
    //     }
    
    //     .loginButton {
    //         margin: 8px;
    //         font-size: 18px;
    //         line-height: 1.2;
    //         text-transform: uppercase;
    //         padding: 10px 14px;
    //         width: 6vw;
    //     }
    // }

    // .inputFields {
    //     display: flex;
    //     flex-direction: column;
    //     width: 35vw;
    //     max-width: 300px;
    //     border-radius: 8px;

    //     input {
    //         font-size: 12pt;
    //         height: 35px;
    //         padding: 0 8px;
    //     }
    // }
}
