.headerContainer {
    padding: 0;
    margin: 0;
    height: 10vh;
    width: 100%;
    background-color: #81b3c2;

    .mapHeaderContainer {
        display: flex;
        align-items: center;
        height: 5vh;
        background-color: #81b3c2;
    }

    .navLogo {
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .nav-link-home,
    .nav-link-aboutus,
    .nav-link-logout {
        color: white;
    }
}

.nav-link-home {
    position: absolute;
    right: 18%;
}

.nav-link-aboutus {
    position: absolute;
    right: 12%;
}

.nav-link-logout {
    position: absolute;
    right: 6%;
}

.nav-link {
    font-size: 1em;
    text-align: center;
    padding: 0;
    color: white;
}

.nav-link.selected {
    background-color: rgb(36, 173, 242);
    color: white;
}

.navbar-custom {
    background-color: #586F7C;
    height: 5vh;

    a {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(255, 255, 255);
    }

    .nav>li:hover {
        background-color: rgb(36, 173, 242);
    }
}

.navbar {
    padding: 0;

    .nav {
        display: table;
        width: 100%;
        line-height: 5vh;

        li {
            display: table-cell;
            width: 33.33%;

            a {
                border-left: 1px solid rgb(255, 255, 255);
            }
        }

        li:first-child a {
            border-left: 0;
        }
    }
}

li.nav-link {
    border-left: 1px solid rgb(255, 255, 255);
}

ul li:first-child {
    border-left: 0;
}