.aboutUsNav {
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: #81b3c2;

    .navLogo {
        color: white;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .nav-link-home,
    .nav-link-aboutus,
    .nav-link-logout {
        color: white;
    }
}

.nav-link-home {
    position: absolute;
    right: 18%;
}

.nav-link-aboutus {
    position: absolute;
    right: 12%;
}

.nav-link-logout {
    position: absolute;
    right: 6%;
}

.meetTheTeam {
    text-align: center;
    font-size: 1.6em;
    margin: 12px;
}

.githubIcon {
    width: 15%;
    // height: 20%;
}

.linkedinIcon {
    width: 15%;
    // height: 20%;
}

.portfolioIcon {
    width: 15%;
    // height: 20%;
}

// .icon-container:nth-child(2) {
//     margin: 0px 20px;
// }