@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.postRunBody {
  // height: 100vh;
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;

  .postRunMap {
    height: 30%;

    .col-12,
    .col-md-6,
    .col-lg-6 {
      padding-left: 0;
      padding-right: 0;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .run-message {
    text-align: center;

    .first-description {
      font-size: 2rem;
      font-weight: bold;
    }

    .second-description,
    .location {
      font-size: 1.2rem;
      span {
        color: red;
      }
    }
  }

  .bar-graph-container {
    height: 55vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 2px 0px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 5%;

    article {
      height: 100%;
    }
  }

  .run-data {
    height: 50%;

    .run-title {
      border-bottom: solid navy 1px;
      padding-top: 20%;
      font-size: 1.3rem;
      color: rgb(97, 142, 155);
    }

    .run-title+p {
      font-size: 2.3rem;
      font-weight: bold;
      color: navy
    }
  }


  .progressContainer {
    width: 100%;
    display: flex;
  }
}

.text-container {
  position: relative;
  display: block;
  left: 30%;

}

.results-display {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 2px 0px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
}


@media (max-width: 576px) {

  .postRunBody {
    height: 100vh;

    .postRunMap {
      height: 30%;

      .col-12,
      .col-md-6,
      .col-lg-6 {
        padding-left: 0;
        padding-right: 0;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }

    .run-message {
      .first-description {
        font-size: 1.2rem;
      }

      .second-description,
      .location {
        font-size: 1.0rem;
      }
    }

    .bar-graph-container {
      height: 55vh;


      article {
        height: 100%;
      }
    }

    .run-data {
      height: 50%;

      .run-title {
        padding-top: 12%;
        font-size: 1rem;
      }

      .run-title+p {
        font-size: 1.5rem;
        font-weight: bold;
        color: navy
      }
    }
  }
}
