@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '../media_query_mixins.scss';

.runCount {
  height: 100%;
  background-color: rgb(140, 255, 125);
}

.tableContainer {
  height: 100%;

  .bold {
    font-weight: bold;
    color: darkblue;
  }

  .filterByDays {
    margin-right: 1%;
  }

  .total,
  .month,
  .week {
    cursor: pointer;
  }

  table {
    color: rgb(51, 51, 51);
    font-family: Helvetica, Arial, sans-serif;
    border-collapse:
      collapse;
    border-spacing: 0;
  }

  @include mobile {
    table {
      color: rgb(51, 51, 51);
      font-family: Helvetica, Arial, sans-serif;
      border-collapse:
        collapse;
      border-spacing: 0;
      font-size: .8rem;
    }
  }

  td,
  th {
    border: 1px solid transparent;
    transition: all 0.3s;
    text-align: center;
    width: 25vw;
  }

  th {
    background: #DFDFDF;
    font-weight: bold;
  }

  td {
    background: #FAFAFA;
  }

  tr:nth-child(even) td {
    background: #F1F1F1;
  }

  tr:nth-child(odd) td {
    background: #FEFEFE;
  }

}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  color: white;
}

.title {
  font-size: 2.5rem;
}

.App-header .title {
  margin-top: 10%;
}

.App-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .2s all;
}

.App-header a:hover {
  opacity: .7;
}

.btnPosition {
  position: relative;
  top: 20px;
}

.total-stats {
  font-family: 'Open Sans', sans-serif;

  .line-graph-container {
    height: 55vh;
    background-color: white;
    width: 100%;
    box-shadow: 0.125rem 0.125rem 0.375rem #b6b6b6;
    border-radius: 4px;
    margin-top: 3%;

    article {
      height: 100%;
    }
  }

  .personal-bests {
    padding: 1% 0;

    .row {
      margin: auto;
      width: 100%;
      box-shadow: 0.125rem 0.125rem 0.375rem #b6b6b6;
      background: rgb(255, 255, 255);
      border-radius: 4px;
      margin-top: 5%;
    }

    .bests-per-run {
      .best {
        font-size: 1.4rem;
        border: 1px solid lightgrey;
        border-radius: 2px 2px 0 0;
        padding-top: 2%;
        padding-bottom: 2%;
      }

        .personal-bests-date {
          text-align: center;
          font-size: 1rem;
          border: 1px solid lightgrey;
          border-top: 0;
          box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 2px 0px;
          border-radius: 0 0 4px 4px;
          padding-top: 2%;
          padding-bottom: 2%;

          .right-arrow {
            position: absolute;
            left: 75%;
            padding-left: 5%;
          }
          .right-arrow:hover {
            left: 76%;

        }
      }
    }

    .last-run {
      div {
        font-size: 1.4rem;
      }
    }

    .last-run-date {
      font-weight: bold;
      font-size: 1.4rem;



      span {
        font-weight: normal;
        font-size: 1rem;

      }
    }

    .right-arrow {
      cursor: pointer;
      position: relative;
    }

    .right-arrow:hover {
      left: 3px;
    }

    .all-time-title {
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
    }

    .personal-bests-title {
      border-radius: 4px 4px 0 0;
      width: 100%;
      background-color: #81b3c2;
      color: white;
      text-align: center;
      font-size: 1.2rem;
      padding: 5px;
      letter-spacing: 1px;
    }

    .best {
      text-align: center;
      border: 2px solid lightgrey;
      box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 2px 0px;
      border-radius: 2px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .second-row {

    .pie-chart-container {
      height: 50vh;

      .graph-container {
        height: 100%;
        width: 100%;
        box-shadow: 0.125rem 0.125rem 0.375rem #b6b6b6;
        border-radius: 4px;
        margin-top: 5%;
        background-color: white;
      }
    }
  }
}

.modal.show .modal-dialog {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

.modal-content {
  justify-content: center;
  align-items: center;
}

.modal-header {
  padding: 0;
  border-bottom: 0;
}

.modal-body {
  .btn-secondary {
    margin-right: 4%;
  }
}

.fade {
  transition: none;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  color: white;
}

.title {
  vertical-align: middle;
  margin-top: 5%;
  margin-bottom: 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
  background-color: #81b3c2;
  color: white;
  border-radius: 4px 4px 0 0;
}

.App-header .title {
  margin-top: 40px;
}

.App-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: .2s all;
}

.App-header a:hover {
  opacity: .7;
}

.eventCountdownContainer {
  margin: auto;
  padding-bottom: 16px;
  width: 100%;
  box-shadow: 0.125rem 0.125rem 0.375rem #b6b6b6;
  background: white;
  border-radius: 4px;
  margin-top: 5%;
}

.eventCountdownTitle {
  border-radius: 4px 4px 0 0;
  width: 100%;
  background-color: #81b3c2;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
  letter-spacing: 1px;
}

.countdownButton {
  margin-top: 12px;
}

.Countdown {
  font-family: sans-serif;
  font-weight: 100;
}

.Countdown-col {
  display: inline-block;
}

.Countdown-col-element {
  display: inline-block;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong {
  font-size: 50px;
  padding: 10px;
  border-radius: 3px;
  background: #81b3c2;
  display: inline-block;
  color: rgb(238, 238, 238);
  border-radius: 15px;
}

@include mobile {
  .Countdown-col-element strong {
    font-size: 20px;
    padding: 10px;
    border-radius: 3px;
    background: #81b3c2;
    display: inline-block;
    color: rgb(238, 238, 238);
    border-radius: 15px;
  }
}

.btnPosition {
  position: relative;
  top: 20px;
}

.totalStatsContainer {
  position: relative;
  top: 10vh;
  background-color: rgb(245, 245, 245);
}

.activityLogContainer {
  position: relative;
  top: 10vh;
}

.logo {
  height: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2%;
  margin-bottom: 2%;
  opacity: 0.7;
}

.all-time {
  margin-bottom: 16px;

  .best {
    font-size: 1.5rem;
    margin-top: 0;
    padding-top: 3%;
    padding-bottom: 4%;
    margin-bottom: 0;
  }
}

.eventName {
  -webkit-appearance: listbox;
  height:35px;
}

@media(max-width: 1200px) {
  .total-stats {
    .personal-bests {
      .last-run {
        div {
          font-size: 1.2rem;
        }
      }

      .last-run-date {
        font-size: 1.2rem;

        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media(max-width: 775px) {
  .total-stats {
    .personal-bests {
      .last-run {
        div {
          font-size: 1rem;
        }
      }

      .last-run-date {
        font-size: 1rem;
        text-align: center;

        span {
          font-size: 0.8rem;
          display: none;
        }
      }
    }
  }
}

@media (max-width: 576px) {

  //Activity Log
  .tableContainer {

    .total,
    .month,
    .week {
      font-size: 0.8rem;
    }
    .btn-sm {
      padding: 0.1rem;
    }
  }

  //Total Stats
  .total-stats {

    .personal-bests {

      .personal-bests-title {
        font-size: 1rem;
      }

      .best {
        font-size: 1.1rem;
      }

      .bests-per-run {
        .best {
          font-size: 1.1rem;
        }

        .personal-bests-date {
          font-size: 0.7rem;
        }
      }

      .all-time-title {
        font-size: 0.9rem;
      }
      .total-time-units {
        font-size: 0.9rem;
      }
     }

    .first-row {
      .line-graph-container {
        height: 50vh;
      }
    }

    .modal-dialog {
      margin: auto;
    }
  }
}

@media (max-width: 375px) {
  .total-stats {

    .total-statistics {

        .best {
          font-size: 0.9rem;
        }
    }
    .personal-bests {
      .total-time-units {
        font-size: 0.6rem;
      }

    }
  }

  .tableContainer {
    .calories-header {
      display: none;
    }
    .calories-data {
      display: none;
    }
  }
}

@media only screen and (max-device-width: 850px) and (orientation: landscape) {
  .totalStatsContainer {
    top: 16vh;
  }

  .activityLogContainer {
    top: 16vh;
  }

  .total-stats {
    .second-row {
      .pie-chart-container {
        height: 65vh;
      }
    }
  }
}
