.mapBody {
    margin: 0;

    .mapContainer {
        background-color: #d1d1d1;
        height: 54vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.mapStatsContainer {
    height: 34vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;

    .statContainer {
        height: 50%;
        width: 50%;
        box-sizing: border-box;
        background-color: #718f94;
        border: 0.5px white solid;
        text-align: center;
        font-size: 1.2em;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .statResult {
        text-align: center;
        font-size: 1.4em
    }

    .time,
    .distance {
        font-size: 1.4em;
    }
}

.postRunBody {
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100vw;

    .postRunMap {
        width: 100%;
        height: 40%;
    }

    .postRunStats {
        height: 20%;
        background-color: green;
        width: 100%;
    }

    .graphContainer {
        height: 45%;

        .graph {
            height: 100%;
            width: 100%;
            background-color: rgb(246, 255, 117);
        }
    }
}

.currentRunStatsBody {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    .table {
        text-align: center;
    }
}