.mapBody {
    margin: 0;
}

.mapContainer {
    background-color: lightskyblue;
    height: 50vh;
    width: 100vw;
    // position: flex;
}

.mapStatsContainer {
    // background-color: rgb(255, 106, 106);
    height: 40vh;
    width: 100vw;
    position: flex;
    margin: 0;

    .statContainer {
        height: 50%;
        width: 50%;
        // background-color: purple;
        border: 1px black solid;
        box-sizing: border-box;
        display: inline-block;
    }
}

.postRunBody {
    padding: 0;
    margin: 0;
    height: 90vh;
    width: 100vw;

    .postRunMap {
        width: 100%;
        height: 40%;
    }

    .postRunStats {
        height: 20%;
        background-color: green;
        width: 100%;
    }

    .graphContainer {
        height: 45%;

        .graph {
            height: 100%;
            width: 100%;
            background-color: rgb(246, 255, 117);
        }
    }
}

.currentRunStatsBody {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    .currentRunStatsRow {
        border: 2px solid black;
    }
}