.mapBody {
    margin: 0;
    height: 100%;

    .mapContainer {
        background-color: #d1d1d1;
        height: 62%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

.map {
    height: 100%;
    width: 100%;

    .loading-element {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid blue;
        border-bottom: 16px solid blue;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        margin: auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.runmapButtonsContainer {
    position: absolute;
}

.mapStatsContainer {
    height: 28%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    .statContainer {
        height: 50%;
        width: 50%;
        box-sizing: border-box;
        background-color: #718f94;
        border: 0.5px white solid;
        text-align: center;
        font-size: 1.2em;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .statResult {
        text-align: center;
        font-size: 1.4em
    }

    .time,
    .distance {
        font-size: 1.4em;
    }
}

.currentRunStatsBody {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    .table {
        text-align: center;
    }
}